{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    " ",
    "<THIRD_PARTY_MODULES>",
    " ",
    "^@app",
    "^@router",
    "^@pages",
    " ",
    "^@components",
    "^@containers",
    "^@hooks",
    " ",
    "^@utils",
    "^@helpers",
    " ",
    "^@services",
    "^@data",
    " ",
    "^@assets",
    "^@themes",
    " ",
    "^@configs",
    "^@constants",
    " ",
    "^@/*",
    " ",
    "^@public",
    "^[./]",
    " ",
    "^(?!.*[.]styled$)[./].*$",
    "^(?!.*[.]styles$)[./].*$",
    ".styled$",
    ".styles$",
    "^(?!.*[.]css$)[./].*$",
    ".css$",
    "^(?!.*[.]scss$)[./].*$",
    ".scss$",
    "^(?!.*[.]sass$)[./].*$",
    ".sass$"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
